@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right bottom, #091d43, #21345f, #384c7c, #4f679b, #6682bb, #768ac8, #8892d5, #9a9ae1, #aa8fd8, #ba83ca, #c777b9, #d16ba5);
    font-family: 'Architects Daughter', cursive;
    color:#F7FBEA;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

/* logo */
.logo {
    width: 50%;
    height: 50%;
    margin: 10px;
}

h1 {
    margin-left: 10px;
}

.instruction-area {
    font-size: 110%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-area {
    font-size: 90%;
}

/* buttons */
.option-area button {
    width: 30%;
    font-size: 200%;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
    transition: all 1s;
}

.option-area button:hover {
    background-color: #f0e890;    
}

.option-area button:active {
    box-shadow: 5px 10px 18px rgb(255,0,0,.6);
}

.option-area button::after {
    content: attr(data-type);    
    color: black;
    position: relative;
    top: -0.5em;
    font-size: 0.7rem;
}

/* .computer-choice img {
    height: 30%;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
} */

.computer-choice h3 {
    margin-bottom: 15px;
}

#image-container { 
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(241,246,255, .4);
    margin: auto;
    border-radius: 10px;
}

#image-box {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    border-radius: inherit;
}

.score-area {
    font-size: 120%;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.gameover-restart-area {
    margin-top: 15px;
    
}

#gameover-btn {
    font-size: 120%;
    border-radius: 10px;
    border: 3px solid gold;
    width: 150px;
    background-color: lightgoldenrodyellow;
}

footer {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Media queries */
/* For large screen size from 1100px width and above*/
@media screen and (min-width: 1100px) {

    h1 {
        font-size: 450%;
    }

    .logo {
        width: 30%;
    }

    .instruction-area {
        font-size: 150%;
    }

    .game-area {
        font-size: 200%;
        margin-top: 40px;
    }

    #image-container { 
        width: 400px;
        height: 400px;
    }

    #image-box {
        width: 350px;
        height: 350px;
        margin-top: 25px;
    }

    .score-area {
        font-size: 200%;
    }

    .option-area button {
        width: 20%;
        font-size: 150%;        
    }

   
    .option-area button::after {
        font-size: 1rem;
        top: -0.5em;        
    }

    .computer-choice img {
        width: 25%;        
    }

    


}